*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    height: 200px;
    background-color: yellow;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 25px;
}

#answer{
    width: 150px;
    height: 25px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    margin-top: 80px;
    margin-left: 250px;
}

button{
    width: 80px;
    height: 25px;
    background-color: black;
    color: white;
}

button:hover{
    background-color: white;
    color: black;
}





