*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: inline-block;
}
.counter{
    margin: 0 auto;
}

#count{
    text-align: center;
}

button{
    padding: 5px 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
}