*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.admin-form{
    height: 250px;
    width: 300px;
    border: 2px solid black;
    margin-left: 600px;
    margin-top: 100px;
}
h1{
    text-align: center;
}
#register{
    margin-left: 50px;
}
#submit-data{
    margin-left: 55px;
}

